.card{
    border-radius: 30px;
    height: 100px;
    width: 95%;
    margin: 20px;
    box-shadow: 0 10px 10px 0 rgba(213, 212, 212, 0.2), 0 10px 20px 0 rgba(240, 239, 239, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.loading {
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

input{
    height: 40px;
    width: 300px;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    left: 40%;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(21, 21, 32), rgb(65, 65, 79));
    color: white;
    
}

.adjustLoading{
    display: flex;
    justify-content: center;
}

.loadButton{
    border: 2px solid rgb(15, 158, 241);
    color: rgb(15, 158, 241);
    border-radius: 30px;
    float: right;
    margin-right: 150px;
    height: 40px;
    width: 150px;
    margin-bottom: 20px;
}

.loadButton:hover{
    color:white;
    background-color: rgb(15, 158, 241);
}


.showLessButton{
    border: 2px solid rgb(241, 102, 15);
    color: rgb(241, 102, 15);
    border-radius: 30px;
    float: right;
    margin-right: 50px;
    height: 40px;
    width: 150px;
    margin-bottom: 20px;
}

.showLessButton:hover{
    color:white;
    background-color: rgb(241, 102, 15);
}
